body {
 padding: 0px;
  margin: 0px;
  background-color:#ffcccc;
}

#center{
  height: 700px;
  width: 700px;
  margin: auto;
  border: solid 2px black;
}
h1{
  text-align:center;
}
#menu{
  margin:auto;
  text-align:center;
  
}